* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 100px;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
nav .logo p {
  margin-top: auto;
  padding-left: 15px;
}
nav .bookLogo {
  width: 73px;
}
nav .searchBar {
  width: 604px;
  height: 44px;
  background-color: rgba(88, 124, 131, 0.5764705882);
  border: 1px #707070 solid;
  margin: 0 75px;
}
nav .searchBar .blueBox {
  display: flex;
  align-items: center;
}
nav .searchBar img {
  width: 25;
  height: 25px;
  margin: 5px;
}
nav .searchBar p {
  margin: 10px;
}
nav .links {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .links a {
  color: black;
  text-decoration: none;
}
nav .links a.active {
  font-weight: bold;
  color: red;
}
nav .cartAccount {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .cartAccount .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .cartAccount .account img {
  width: 47px;
  margin: 10px;
}
nav .cartAccount .account p {
  margin-top: 15px;
}
nav .cartAccount .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .cartAccount .cart img {
  width: 47px;
  margin: 10px;
}
nav .cartAccount .cart p {
  margin-top: 15px;
}

footer {
  height: 92px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: #587C83;
  color: white;
}
footer .copy .copy-text span {
  font-size: 16px;
}
footer .footer-nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 92px;
}
footer .footer-nav .footer-nav-text {
  align-items: center;
  display: flex;
  height: 92px;
}
footer .footer-nav .footer-nav-text a {
  justify-content: space-between;
  text-decoration: none;
  color: white;
  padding-right: 42px;
}
footer .footer-nav .footer-nav-text a div {
  padding-bottom: 10px;
}
footer .logos {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
footer .logos .fb {
  height: 44px;
  width: 44px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/facebook_w.png);
  margin-right: 38px;
}
footer .logos .insta {
  height: 44px;
  width: 44px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/instagram_w.png);
}
footer .logos .twit {
  height: 44px;
  width: 44px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/twitter_w.png);
  margin-left: 38px;
}

.aboutPageHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutPageHolder .founded {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.aboutPageHolder .founded .aboutImg1 {
  width: 393px;
  height: 450px;
  background-color: chocolate;
  background-image: url(../assets/about-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 25px;
}
.aboutPageHolder .founded .aboutText1 {
  width: 98%;
  max-height: 40%;
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.aboutPageHolder .founded .aboutText1 .bigWigText {
  font-size: 32px;
}
.aboutPageHolder .founded .aboutText1 .lilWigText {
  font-size: 26px;
  margin: 40px;
}
.aboutPageHolder .findingPerfect {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: -100px;
}
.aboutPageHolder .findingPerfect .aboutImg2 {
  width: 393px;
  height: 450px;
  background-image: url(../assets/about-photo-two.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 25px;
}
.aboutPageHolder .findingPerfect .aboutText2 {
  width: 98%;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.aboutPageHolder .findingPerfect .aboutText2 .bigWigText {
  font-size: 32px;
}

@media only all and (max-width: 910px) {
  .aboutPageHolder .founded .aboutImg1 {
    margin-right: 100px;
    width: 308px;
    height: 343px;
  }
  .aboutPageHolder .founded .aboutText1 {
    text-align: center;
    font-size: 11px;
  }
  .aboutPageHolder .founded .aboutText1 .bigWigText {
    font-size: 12px;
  }
  .aboutPageHolder .founded .aboutText1 .lilWigText {
    font-size: 8px;
  }
  .aboutPageHolder .findingPerfect .aboutImg2 {
    margin-right: 100px;
    width: 308px;
    height: 343px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 {
    text-align: center;
    font-size: 11px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 .bigWigText {
    font-size: 12px;
  }
}
@media only all and (max-width: 390px) {
  .aboutPageHolder .founded .aboutImg1 {
    margin-right: 100px;
    width: 71px;
    height: 132px;
  }
  .aboutPageHolder .founded .aboutText1 {
    text-align: center;
    font-size: 6px;
  }
  .aboutPageHolder .founded .aboutText1 .bigWigText {
    font-size: 6px;
  }
  .aboutPageHolder .founded .aboutText1 .lilWigText {
    font-size: 6px;
  }
  .aboutPageHolder .findingPerfect .aboutImg2 {
    margin-right: 100px;
    width: 71px;
    height: 132px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 {
    text-align: center;
    font-size: 6px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 .bigWigText {
    font-size: 6px;
  }
}
.blogPageHolder {
  width: 100%;
  height: 173vh;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.blogPageHolder .blogBlocks {
  width: 90%;
  height: 160vh;
}
.blogPageHolder .blogBlocks .blogBlockSize1 {
  width: 100%;
  height: 40vh;
  margin-bottom: 100px;
  background-color: #587C83;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .img1 {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .img1 img {
  width: 230px;
  height: 300px;
  margin: 20px;
  padding: 20px;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .content1 {
  width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .content1 .entitled {
  color: white;
  font-size: 32px;
  text-align: center;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .content1 .parap {
  color: white;
  text-align: center;
  width: 380px;
  margin: 20px;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .content1 a {
  text-decoration: none;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .content1 .readMoreBtn {
  padding-top: 15px;
  margin-top: 15px;
  width: 222px;
  height: 60px;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize1 .content1 .readMoreBtn p {
  color: white;
}
.blogPageHolder .blogBlocks .blogBlockSize2 {
  width: 100%;
  height: 40vh;
  margin-bottom: 100px;
  background-color: #587C83;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .img2 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .img2 img {
  width: 100%;
  height: 100%;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .content2 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .content2 .entitled {
  color: white;
  font-size: 32px;
  text-align: center;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .content2 .parap {
  color: white;
  text-align: center;
  width: 380px;
  margin: 20px;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .content2 a {
  text-decoration: none;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .content2 .readMoreBtn {
  padding-top: 15px;
  margin-top: 15px;
  width: 222px;
  height: 60px;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize2 .content2 .readMoreBtn p {
  color: white;
}
.blogPageHolder .blogBlocks .blogBlockSize3 {
  width: 100%;
  height: 40vh;
  margin-bottom: 100px;
  background-color: #587C83;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .img3 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .img3 img {
  width: 100%;
  height: 100%;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .content3 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .content3 .entitled {
  color: white;
  font-size: 32px;
  text-align: center;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .content3 .parap {
  color: white;
  text-align: center;
  width: 380px;
  margin: 20px;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .content3 a {
  text-decoration: none;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .content3 .readMoreBtn {
  padding-top: 15px;
  margin-top: 15px;
  width: 222px;
  height: 60px;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogPageHolder .blogBlocks .blogBlockSize3 .content3 .readMoreBtn p {
  color: white;
}

.bookclub-hero {
  height: 463px;
  max-width: 1464px;
  background-color: black;
  margin: 228px 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/book-club-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookclub-hero .bookclub-title h1 {
  font-weight: bold;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.bookclub-hero .bookclub-hero-info p {
  font-weight: bold;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 59px;
}

.bookclub-holder {
  display: flex;
  margin-top: 20px;
  min-height: 640px;
  max-width: 100%;
  margin: 228px 100px;
}
.bookclub-holder .bookclub-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/open-book-blog.jpg);
  height: 463px;
  width: 622px;
}
.bookclub-holder .bookclub-info {
  padding-left: 39px;
  width: 898px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
}
.bookclub-holder .bookclub-info .p1 {
  font-size: 16px;
}
.bookclub-holder .bookclub-info .p2 {
  font-size: 16px;
}
.bookclub-holder .bookclub-info .p3 {
  font-size: 16px;
}
.bookclub-holder .bookclub-info .p4 {
  font-size: 16px;
}

@media only all and (max-width: 910px) {
  .bookclub-hero {
    max-width: 562px;
    max-height: 197;
  }
  .bookclub-holder .bookclub-pic {
    max-width: 260px;
    max-height: 205px;
  }
}
@media only all and (max-width: 390px) {
  .bookclub-hero {
    max-width: 308px;
    max-height: 121;
  }
  .bookclub-pic {
    max-width: 114px;
    max-height: 95px;
  }
}
.febFavs-hero {
  height: 463px;
  max-width: 1464px;
  background-color: black;
  margin: 100px 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/february-favorites-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.febFavs-hero .bookclub-title h1 {
  font-weight: bold;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.febFavs-hero .bookclub-hero-info p {
  font-weight: bold;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 59px;
}
.febFavs-hero .quote p {
  font-weight: bold;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.febFavs-holder {
  display: flex;
  height: 482px;
  max-width: 100%;
  margin: 20px 150px;
}
.febFavs-holder .bookclub-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/becoming.jpg);
  height: 380px;
  width: 250px;
}
.febFavs-holder .bookclub-info {
  padding-left: 39px;
  width: 898px;
  display: flex;
  flex-direction: column;
}
.febFavs-holder .bookclub-info .bookclub-title {
  padding-bottom: 58px;
}
.febFavs-holder .bookclub-info .bookclub-title .pt1 {
  font-size: 26px;
}
.febFavs-holder .bookclub-info .p1 {
  font-size: 16px;
  padding-bottom: 25px;
}
.febFavs-holder .bookclub-pic2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/finding\ me.jpg);
  height: 380px;
  width: 250px;
  background-color: darkgoldenrod;
}

.febFavs-holder2 {
  display: flex;
  height: 582px;
  max-width: 100%;
  margin: 20px 150px;
}
.febFavs-holder2 .bookclub-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/becoming.jpg);
  height: 380px;
  width: 250px;
}
.febFavs-holder2 .bookclub-info {
  padding-left: 39px;
  width: 898px;
  display: flex;
  flex-direction: column;
}
.febFavs-holder2 .bookclub-info .bookclub-title {
  padding-bottom: 58px;
}
.febFavs-holder2 .bookclub-info .bookclub-title .pt1 {
  font-size: 26px;
}
.febFavs-holder2 .bookclub-info .p1 {
  font-size: 16px;
  padding-bottom: 25px;
}
.febFavs-holder2 .bookclub-pic2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/finding\ me.jpg);
  height: 380px;
  width: 250px;
  background-color: darkgoldenrod;
}

.e-reading-hero {
  height: 463px;
  max-width: 1464px;
  background-color: black;
  margin: 228px 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/eread-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.e-reading-hero .e-reading-title h1 {
  font-weight: bold;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.e-reading-hero .e-reading-hero-info p {
  font-weight: bold;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 59px;
}

.e-reading-holder {
  display: flex;
  margin-top: 20px;
  min-height: 640px;
  max-width: 100%;
  margin: 228px 100px;
}
.e-reading-holder .e-reading-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/ereading-blog.jpg);
  height: 463px;
  width: 622px;
}
.e-reading-holder .e-reading-info {
  padding-left: 39px;
  width: 898px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
}
.e-reading-holder .e-reading-info .p1 {
  font-size: 16px;
}
.e-reading-holder .e-reading-info .p2 {
  font-size: 16px;
}
.e-reading-holder .e-reading-info .p3 {
  font-size: 16px;
}
.e-reading-holder .e-reading-info .p4 {
  font-size: 16px;
}

@media only all and (max-width: 910px) {
  .e-reading-hero {
    max-width: 562px;
    max-height: 197;
  }
  .e-reading-holder .e-reading-pic {
    max-width: 260px;
    max-height: 205px;
  }
}
@media only all and (max-width: 390px) {
  .e-reading-hero {
    max-width: 308px;
    max-height: 121;
  }
  .e-reading-pic {
    max-width: 114px;
    max-height: 95px;
  }
}
