.footer-color {
  color: #587C83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 100px;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
nav .logo p {
  margin-top: auto;
  padding-left: 15px;
}
nav .bookLogo {
  width: 73px;
}
nav .searchBar {
  width: 604px;
  height: 44px;
  background-color: rgba(88, 124, 131, 0.5764705882);
  border: 1px #707070 solid;
  margin: 0 75px;
}
nav .searchBar .blueBox {
  display: flex;
  align-items: center;
}
nav .searchBar img {
  width: 25;
  height: 25px;
  margin: 5px;
}
nav .searchBar p {
  margin: 10px;
}
nav .links {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .links a {
  color: black;
  text-decoration: none;
}
nav .cartAccount {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .cartAccount .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .cartAccount .account img {
  width: 47px;
  margin: 10px;
}
nav .cartAccount .account p {
  margin-top: 15px;
}
nav .cartAccount .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .cartAccount .cart img {
  width: 47px;
  margin: 10px;
}
nav .cartAccount .cart p {
  margin-top: 15px;
}

footer {
  height: 92px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.aboutPageHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutPageHolder .founded {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.aboutPageHolder .founded .aboutImg1 {
  width: 393px;
  height: 450px;
  background-color: chocolate;
  background-image: url(../assests/about-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 25px;
}
.aboutPageHolder .founded .aboutText1 {
  width: 98%;
  max-height: 40%;
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.aboutPageHolder .founded .aboutText1 .bigWigText {
  font-size: 32px;
}
.aboutPageHolder .founded .aboutText1 .lilWigText {
  font-size: 26px;
  margin: 40px;
}
.aboutPageHolder .findingPerfect {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: -100px;
}
.aboutPageHolder .findingPerfect .aboutImg2 {
  width: 393px;
  height: 450px;
  background-image: url(../assests/about-photo-two.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 25px;
}
.aboutPageHolder .findingPerfect .aboutText2 {
  width: 98%;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.aboutPageHolder .findingPerfect .aboutText2 .bigWigText {
  font-size: 32px;
}

@media only all and (max-width: 910px) {
  .aboutPageHolder .founded .aboutImg1 {
    margin-right: 100px;
    width: 308px;
    height: 343px;
  }
  .aboutPageHolder .founded .aboutText1 {
    text-align: center;
    font-size: 11px;
  }
  .aboutPageHolder .founded .aboutText1 .bigWigText {
    font-size: 12px;
  }
  .aboutPageHolder .founded .aboutText1 .lilWigText {
    font-size: 8px;
  }
  .aboutPageHolder .findingPerfect .aboutImg2 {
    margin-right: 100px;
    width: 308px;
    height: 343px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 {
    text-align: center;
    font-size: 11px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 .bigWigText {
    font-size: 12px;
  }
}
@media only all and (max-width: 390px) {
  .aboutPageHolder .founded .aboutImg1 {
    margin-right: 100px;
    width: 71px;
    height: 132px;
  }
  .aboutPageHolder .founded .aboutText1 {
    text-align: center;
    font-size: 6px;
  }
  .aboutPageHolder .founded .aboutText1 .bigWigText {
    font-size: 6px;
  }
  .aboutPageHolder .founded .aboutText1 .lilWigText {
    font-size: 6px;
  }
  .aboutPageHolder .findingPerfect .aboutImg2 {
    margin-right: 100px;
    width: 71px;
    height: 132px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 {
    text-align: center;
    font-size: 6px;
  }
  .aboutPageHolder .findingPerfect .aboutText2 .bigWigText {
    font-size: 6px;
  }
}
