.bookclub-hero{
    height: 463px;
    max-width: 1464px;
    background-color: black;
    margin: 228px 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/book-club-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .bookclub-title{
        h1{
            font-weight: bold;
            color: white;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .bookclub-hero-info{
        p{
            font-weight: bold;
            color: white;
            font-size: 26px;
            font-weight: bold;
            // padding-top: 59px;
            padding: 59px;
           
        }
    }
}

.bookclub-holder{
    // justify-content: center;
    // align-items: center;
    display: flex;
    margin-top: 20px;
    height: 882px;
    max-width: 100%;
    padding-bottom: 287px;
    margin: 228px 100px; 
    // position: relative;
    .bookclub-pic{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../assets/open-book-blog.jpg);
        height: 463px;
        width: 622px;
    }
    .bookclub-info{
        padding-left: 39px;
        width: 898px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // background-color: yellow;
    

        .p1{
            font-size: 16px;
        }
        .p2{
            font-size: 16px;
            padding-top: 5px;
        }
        .p3{
            font-size: 16px;
            padding-top: 5px;
        }
        .p4{
            font-size: 16px;
            padding-top: 5px;
        }
    }
}

@media only all and (max-width: 910px){
    .bookclub-hero{
        max-width: 562px;
        max-height: 197;
        
        .bookclub-title{
            h1{
               
            }
        }
        .bookclub-hero-info{
            p{
               
               
            }
        }
    }
    
    .bookclub-holder{
        
        .bookclub-pic{
            max-width: 260px;
            max-height: 205px;
        }
        .bookclub-info{
            padding-bottom: 287px;
        
    
            .p1{
                
            }
            .p2{
                
            }
            .p3{
                
            }
            .p4{
                
            }
        }
    }
    
}
@media only all and (max-width: 390px){
    .bookclub-hero{
        max-width: 308px;
        max-height: 121;
        
        .bookclub-title{
            h1{
               
            }
        }
        .bookclub-hero-info{
            p{
               
               
            }
        }
    }
    
    .bookclub-pic{
        max-width: 114px;
        max-height: 95px;
    }
    .bookclub-info{
        padding-bottom: 287px;

        .p1{
            
        }
        .p2{
            
        }
        .p3{
            
        }
        .p4{
            
        }
    }

}