nav {
    height: 100px;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;

    img {
        width: 100px;
    }
}