* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
//  background-color: blue;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
@font-face {
    font-family: 'segoeui';
    src: url('../assets/segoeui.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeuib';
    src: url('../assets/segoeuib.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeuii';
    src: url('../assets/segoeuii.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeuil';
    src: url('../assets/segoeuil.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeuisl';
    src: url('../assets/segoeuisl.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeuiz';
    src: url('../assets/segoeuiz.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguibl';
    src: url('../assets/seguibl.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguibli';
    src: url('../assets/seguibli.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguili';
    src: url('../assets/seguili.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguisb';
    src: url('../assets/seguisb.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguisbi';
    src: url('../assets/seguisbi.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguisli';
    src: url('../assets/seguisli.ttf');
    font-weight: normal;
    font-style: normal;
}